.env
.env.*.local
/dist
generated/
packages/*/package-lock.json
sample/**/package-lock.json
node_modules/
.cache/
yarn-debug.log*
/.idea
/.awcache
/.vscode
/.devcontainer
/.classpath
/.project
/.settings
*.code-workspace
Thumbs.db
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
packages/**/*.d.ts
packages/**/*.js
**/.DS_Store
lerna-debug.log
npm-debug.log
yarn-error.log
/**/npm-debug.log
/packages/**/.npmignore
/packages/**/LICENSE
*.tsbuildinfo
/test
/benchmarks/memory
/coverage
/.nyc_output
/packages/graphql
/benchmarks/memory
build/config\.gypi
.npmrc
pnpm-lock.yaml
/.history